{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div id="flash-message" class="flash-{{ label }} rounded-lg shadow-sm p-3 mb-2">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}