<div{{ attributes }}>

   <input type="text"  data-model="query" placeholder="Tapez un mot-clé..."/>

    <div class="">
        {% set articles = this.articles %} {# Récupération des articles #}
        {% if articles|length > 0 %} {# S'il y a des articles #}
            {% for item in articles %} {# Pour chaque article #}
                <h3>{{ item.title }}</h3>
                <a href="{{ path('article', { 'slug': item.slug }) }}">Voir l'article</a>
                <hr>
            {% endfor %}
        {% else %} {# Sinon #}
            <p>Aucun article correspondant</p>
        {% endif %}
    </div>

</div>
